#battle-screen {
    display: none;
    background: rgb(43, 255, 0);
    width: 100%;
    height: 100%;
    flex-direction: column;
    
}

.battle-box {
    height: 250px;
    background: rgba(255, 255, 255, 0.438);
    display: flex;
    flex-direction: column;
}

.combat-box {
    display: flex;
}

.battle-stats-04 {
    background: white;
    border-radius: 10px;
    color: black;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
}

.battle-button {
    cursor: pointer;
    width: 100px;
    font-size: 12px;
    
}

.battle-options {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    background-image: url("../img/buttons-box-bg-01.png");
    border: 2px solid rgba(255, 255, 255, 0.438);
    gap: 10px;
    padding: 10px;
}
.battle-options button {
    padding: 5px;
    height: 30px;
    cursor: pointer;
}
.hero-box {
    height: 100%;
    /* background: blue; */
    width: 175px;
}
.char-battle-img {
    position: relative;
    top: 70px;
    /* transform: scaleX(-1); */
    left: 40px;
}

.monster-battle-img {
    position: relative;
    top: 90px;
    left: 5px;
    /* rotate: 90deg; */
}

.life-bar-bg-monster {
    background: rgb(255, 61, 61);
    height: 18px;
    width: 150px;
    border: 1px solid black;
    position: relative;
    left: 15px;
    top: 50px;
}

.life-bar-monster {
    height: 100%;
    width: 100%;
    background: rgb(140, 233, 0);
    text-align: center;
}
.life-bar-stats-monster {
    text-align: center;
    position: relative;
    top: -16px;
    font-weight: bold;
    font-size: 14px;
}
.life-bar-stats-btl {
    text-align: center;
    position: relative;
    top: -16px;
    font-weight: bold;
    font-size: 14px;
}
.mana-bar-stats-btl {
    text-align: center;
    position: relative;
    top: -16px;
    font-weight: bold;
    font-size: 14px;
}

.life-bar-btl {
    height: 100%;
    width: 100%;
    background: rgb(140, 233, 0);
    text-align: center;
}
.mana-bar-btl {
    height: 100%;
    width: 100%;
    background: rgb(186, 0, 233);
    text-align: center;
}
.life-mana-box-btl {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background: rgba(255, 255, 255, 0.63); */
}
.life-bar-bg-btl {
    background: rgb(255, 61, 61);
    height: 18px;
    width: 150px;
    border: 1px solid black;
    position: relative;
    left: 10px;
    top: 50px;
}
.mana-bar-bg-btl {
    background: rgb(255, 61, 61);
    height: 18px;
    width: 150px;
    border: 1px solid black;
    position: relative;
    left: 10px;
    top: 60px;
}

